@import "tailwindcss";
@plugin "daisyui";
@import "flowbite/src/themes/default";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

.slide3 {
  background-image: url(../public/Assets/BackgroundImage/slide3Bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.slide1 {
  background-image: url(../public/Assets/BackgroundImage/slide1bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* swipeer */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #444; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
